$white: #ffffff;
$black: #303440;
$gray: #9b9b9b;
$darkgrey: #5a5a5a;
$dark: #303440;
$default: #292E37;

$primary: #800F0F;
$secondary: #7d7d7d;
$success: #3cd089;
$danger: #ff6060;
$warning: #ffd400;
$blue: #1e7de8;
$blue1: #1AA7EF;

$min-contrast-ratio: 2.5;

.btn{
  --bs-border-radius : 8px;
}